body {
	font-family: 'Poppins', sans-serif;
}

.add-posts {
	text-align: center;
	padding: 20px;
	margin: 10px auto;
}

.posts {
	margin: 0 auto;
	width: 80%;
	min-width: 400px;
	max-width: 700px;
}

.card {
	padding: 20px;
	background-color: #000;
	color: #fff;
	border: 1px solid #919191;
}

.card__header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 20px;
	line-height: 30px;
}

.card__user-name {
	font-size: 22px;
}

.card__user-nickname,
.card__user-email {
	color: #919191;
}

.card__body {
	margin-bottom: 20px;
}

.card__body-title {
	margin-bottom: 8px;
}

.card__buttons-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 15px;
}

.card__buttons-container button {
	padding: 6px 10px;
	border-radius: 5px;
	background-color: #d2d2d2;
	color: #000;
	font-weight: 500;
	font-size: 14px;
}

.card__buttons-container button:hover {
	filter: brightness(1.1);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	display: flex;
    justify-content: center;
    align-items: center;
}

.modal__background {
	background-color: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0; 
	z-index: 1;
}

.modal__main-container{
	position: relative;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 50px 20px 20px;
	width: 70%;
	z-index: 2;
}

.modal__close {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 3px 8px 6px;
	width: 28px;
    height: 28px;
	font-size: 20px;
	line-height: 18px;
	cursor: pointer;
	border-radius: 3px;
	filter: brightness(.9);
}

.modal__close:hover {
	filter: brightness(1);
}

.modal__main-container form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.modal__main-container textarea {
	resize: none;
  	height: auto;
}

.modal__main-container form button,
.add-post-btn {
	padding: 5px 8px;
	border-radius: 4px;
	filter: brightness(.9);
	min-width: 100px;
	margin: 0 auto;
	margin-top: 15px;
}

.modal__main-container input,
.modal__main-container textarea {
	outline: none;
}

.modal__main-container form button:hover,
.add-post-btn:hover {
	filter: brightness(1);
} 


/* ---- PRELOADER ---- */
.preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
  }
  .preloader hr {
	border: 0;
	margin: 0;
	width: 40%;
	height: 40%;
	position: absolute;
	border-radius: 50%;
	animation: spin 2s ease infinite;
  }
  
  .preloader :first-child {
	background: #5FE1B3;
	animation-delay: -1.5s;
  }
  .preloader :nth-child(2) {
	background: #4FC3F7;
	animation-delay: -1s;
  }
  .preloader :nth-child(3) {
	background: #5FE1B3;
	animation-delay: -0.5s;
  }
  .preloader :last-child {
	background: #4FC3F7;
  }
  
  @keyframes spin {
	0%,
	100% {
	  transform: translate(0);
	}
	25% {
	  transform: translate(160%);
	}
	50% {
	  transform: translate(160%, 160%);
	}
	75% {
	  transform: translate(0, 160%);
	}
  }