body {
    font-family: 'Montserrat', sans-serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
}

.card {
	width: calc(50% - 20px);
	padding: 15px;
	margin: 10px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 2em;
	color: #fff;
	background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
	text-shadow: 1px 1px 2px #5b5a5a;
}

.card p span, .films-title {
	color: #6e0058;
	font-weight: 600;
}

.card p span {
	padding-right: 10px;
}

.films-title {
	display: inline-block;
	margin-bottom: 10px;
}

.card p:not(first-of-type) {
	margin-bottom: 25px;
}

.loader-wrap {
	display: flex;
	justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
 } 